*, *:before, *:after {
  box-sizing: border-box;
}

/* https://share.getcloudapp.com/L1upkJp2 */

:root {
  --accentColor: rgb(250, 148, 40);
  --mainColor: rgb(245, 245, 245);
  --subtleColor: rgb(170, 170, 170);
  --navigationWidth: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--mainColor);
  background: rgb(41, 52, 69);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

svg, a {
  color: inherit;
  fill: currentColor;
}

h2, h3 {
  margin-top: 2em;
  margin-bottom: .5em;
}

ul.none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.neom-concave {
  --background-hs: 216, 25%;
  --background-shadow: 16%;
  --background-highlight: 32%;
  --background-offset: .5em;
  border-radius: 2em;
  background: hsl(var(--background-hs), 22%);
  box-shadow:  var(--background-offset) var(--background-offset) calc(var(--background-offset) * 2) hsl(var(--background-hs), var(--background-shadow)), 
               calc(var(--background-offset) * -1) calc(var(--background-offset) * -1) calc(var(--background-offset) * 2) hsl(var(--background-hs), var(--background-highlight));
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

:not(pre) > code {
  font-size: 1.3em;
  color: var(--accentColor);
}

.token.string,
.token.keyword,
.token.property {
    color: var(--accentColor);
}

.token.comment {
  color: var(--subtleColor);
}

.neom-convex, pre {
  --background-hs: 216, 25%;
  --background-shadow: 16%;
  --background-highlight: 32%;
  --background-offset: .25em;
  border-radius: 2em;
  background: hsl(var(--background-hs), 22%);
  box-shadow: inset var(--background-offset) var(--background-offset) calc(var(--background-offset) * 2) hsl(var(--background-hs), var(--background-shadow)), 
              inset calc(var(--background-offset) * -1) calc(var(--background-offset) * -1) calc(var(--background-offset) * 2) hsl(var(--background-hs), var(--background-highlight));
}


.navigation {
  position: sticky;
  top: 0;
  align-self: start;
  padding: 1rem;
  min-width: var(--navigationWidth);
}

.navigation .savager-logo {
  width: 6rem;
  height: 2rem;
  color: var(--subtleColor);
  margin-bottom: 1rem;
}

.navigation li {
  margin-bottom: 1rem;
}

.navigation a {
  display: block;
  text-decoration: none;
  padding: .5rem 1rem;
  color: var(--subtleColor);
  font-size: .8em;
  font-weight: 500;
  transition: .218s ease;
}

.navigation a:hover {
  --background-offset: .25em;
  color: var(--mainColor);
}

.navigation a:active {
  --background-offset: 0;
}

.content {
  padding: 1rem;
  max-width: 40em;
  width: calc(100% - var(--navigationWidth));
  flex: 1;
}

.content .savager-logo {
  width: 12rem;
  height: 4rem;
}

.content h1 {
  margin: 0;
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }

  .content {
    width: 100%;
  }
}