*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.savager-logo {
  width: 12.8em;
  height: 2.6em;
  text-align: center;
}

.inventory {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-name]:before {
  content: attr(data-name);
  display: block;
}

.savager-svg {
  display: inline-flex;
  fill: currentColor;
  height: var(--svg--dimension, 1.5em);
  width: var(--svg--dimension, 1.5em);
}